<div id="new-age-navbar" class="new-age-container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: white;">
    <div class="container border-bottom">
      <a class="navbar-brand" style="color: #222;" href="#"><%= t('app_name') %></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: #222; text-transform: none;" href="#" data-toggle="modal" data-target="#support-modal">
            <img class="rounded-circle" src="<%= current_user.user_snapshot&.properties&.dig('user', 'profile_image_url') %>" width="24" height="24">
            @<%= current_user.screen_name %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  (function () {
    try {
      var height = window.getComputedStyle(document.getElementById('mainNav')).height;
      document.getElementById('new-age-navbar').style.height = height;
    } catch (e) {
    }
  })();

  $('.navbar-brand').on('click', function () {
    if ($(window).scrollTop() === 0) {
      var url = '<%= raw root_path(via: 'brand') %>';
      window.location.href = url;
    } else {
      $('body').animate({scrollTop: 0});
    }
  });
</script>
