<ul class="list-inline">
  <li class="list-inline-item">
    <a class="btn btn-primary text-white" href="https://twitter.com/egotter_cs" target="_blank">
      <i class="fab fa-twitter"></i>
      <%= t('.account') %>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn btn-primary text-white" href="http://twitter.com/share" target="_blank">
      <i class="fab fa-twitter"></i>
      <%= t('.tweet') %>
    </a>
  </li>
</ul>
