[Unit]
Description=sidekiq
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/var/allysocial
ExecStart=/usr/local/bin/bundle exec sidekiq -e production -C config/sidekiq.yml
ExecReload=/usr/bin/kill -TSTP $MAINPID
User=ec2-user
Group=ec2-user
UMask=0002
Environment=MALLOC_ARENA_MAX=2
RestartSec=1
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
